html,
body {
  height: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: $default;
  font-size: $font-size;
  line-height: $line-height;
  display: flex;
  flex-direction: column;
  background-color: $white;
}

section {
  padding: 120px 0;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

  .checkbox-hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
  }

.btn {
  padding: 15px 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  background-color: $accent;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $hover-btn;
  }

  &--border {
    background-color: transparent;
    color: $dark-900;
    box-shadow: none;
    border: 1px solid $accent;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  &--border:hover {
    background-color: $hover-btn;
    color: $white;
    border: 1px solid $hover-btn;
  }

  &--black {
    padding: 17px 35px;
    background-color: $dark-900;
    color: $white;
    box-shadow: none;
  }
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 58px;
  color: $dark-900;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.text {
  max-width: 570px;
  margin-bottom: 60px;
}

.breadcrumbs {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
  }

  &__item:first-child {
    position: relative;
    padding-left: 25px;
  }

  &__item:first-child::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url("../images/icons/breadcrumbs/home-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__item {
    color: #727272;
    line-height: 1;
    position: relative;
  }

  &__item:not(:last-child) {
    padding-right: 40px;
  }

  &__item:last-child {
    color: $accent;
  }

  &__item:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 10px;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
    background-image: url("../images/icons/breadcrumbs/angle-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.header--404-page {
  background-color: $bg-color;
}
