html,
body {
  height: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: $default;
  font-size: $font-size;
  line-height: $line-height;
  display: flex;
  flex-direction: column;
}

section {
  padding: 120px 0;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.btn {
  padding: 15px 35px;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  background-color: $accent;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $hover-btn;
  }

  &--border {
    background-color: transparent;
    color: $dark-900;
    box-shadow: none;
    border: 1px solid $accent;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
  }

  &--border:hover {
    background-color: $hover-btn;
    color: $white;
    border: 1px solid $hover-btn;
  }
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 58px;
  color: $dark-900;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.text {
  max-width: 570px;
  margin-bottom: 60px;
}
